.section {
    width: 100%;
    background-color: #d5d5d5;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadform {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}